@model IEnumerable<SinemaOtomasyonu.Models.Seans>

@{
    ViewData["Title"] = "Seanslar";
    Layout = "_Layout_Yetkili";
}

<h1 class="mt-3 mb-5">Seans Listesi</h1>

<p>

</p>
<table id="myTable" class="table table-borderless table-data3">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Saat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Film)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gun)
            </th>
            <th>
                <a class="btn btn-success" asp-controller="Yetkili" asp-action="SeansEkle">Create New</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Saat)
                </td>
                <td>
                    @if (item.Film != null)
                        @Html.DisplayFor(modelItem => item.Film.FilmAdi)

                    </td>
                    <td>
                    @if (item.Salon != null)
                        @Html.DisplayFor(modelItem => item.Salon.SalonAdi)

                    </td>
                    <td>
                    @if (item.Gun != null)
                        @item.Gun.Tarih.Date.ToShortDateString()

                    </td>
                    <td>
                        <a class="btn btn-info" asp-action="SeansDuzenle" asp-route-id="@item.Id">Edit</a> |
                        <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a class="btn btn-danger" asp-action="SeansSil" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
